body {
  margin: 0;
  font-family: open-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans";
}

.success-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
